body,
html {
	width: 100%;
	height: 100%;
	background: url("logo2.jpg") no repeat center center fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box{
	height: 170vh;
	background-image: url("logo2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	cursor: default;
	color:black;
	font-size: 25px;

}
.inner_box{
	max-width:700px;
	position: relative;
	display:block;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(205,205,205,.6);
	box-shadow: 0 20px 30px rgba(0,0,0,0.9);
	padding: 40px;
    text-align: center;
	letter-spacing: 2px;
	}
}
.inner_box h1{
	font-size: 90px;
	cursor: default;

}
.inner_box p{
	margin:90px;
	font-weight: bold;
	font-size: 80%;
	text-align: center;
}
h1{
	text-transform: uppercase;
	color: black;
	cursor: default;
	font-size: 3em;
}
.btn-sm {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    padding: 1rem 2 rem;
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
    background: grey;
    }
    .buffer{
     height: 4rem;

    }
}
hr{

	border-color: whitesmoke;
	border-width: 4px;   
}
.box1{
	height: 170vh;
	background-repeat: no-repeat;
	background-color: rgba(205,205,205,.4)
	cursor: default;
	color:whitesmoke;
	font-size: 25px;
}
.inner_box2{
	display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
	max-width:700px;
	position: relative;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(205,205,205,.4);
	box-shadow: 0 20px 30px rgba(0,0,0,0.8);
	padding: 40px;
    text-align: center;
	letter-spacing: 2px;

	}
	.buffer1{
		height: 1rem;